<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
    <style>
      #spoiler {
        width: 50%;
        padding: 50px 0;
        text-align: center;
        margin-top: 20px;
      }
    </style>
    <script>
  const spoiler = () => {
      let x = document.getElementById("spoiler");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
  }
  </script>
  </head>
  <body>
    <h1 id="marvel-name"><%=marvel.name%></h1>
    <nav>
      <a href="/marvel-home">Return to Characters</a>
      <a href="/marvel-home/<%=marvel.id%>/edit">Edit Character</a>
    </nav>
    <img src="<%=marvel.img%>" alt="<%=marvel.name%>" class="rounded-circle">
    Location: <%=marvel.location%><br/>
    Powers: <%=marvel.powers%><br/>
    Movies Appeared In: <%=marvel.movies%><br/>
    History: <%=marvel.history%><br/>
    Dead or Alive?!: <button type="button" name="dead" onclick="spoiler()">Spoiler!</button>
    <div id="spoiler">
      <% if(marvel.dead === true) { %>
        Unfortunately, <%=marvel.name%> is no longer apart of the Marvel Universe
      <% } else { %>
        <%=marvel.name%> is alive and kicking!
        <% } %>
    </div>
    <form action="/marvel-home/<%=marvel.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Character">
    </form>
  </body>
</html>
